@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #252a34;
	font-family: 'roboto', sans-serif;
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden; /* Use to hide the scrool bar */
}

button {
	background-color: #ff2e63;
	color: white;
	padding: 20px 40px;
	border-radius: 10px;
	border: none;
	letter-spacing: 1px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	font-size: 16px;
}

.circle {
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: scale 0.4s ease-out;
}

@keyframes scale {
	to {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
	}
}
